th,td{
	padding: 8px;
	border 1px solid #ccc;
	text-align:center;
}

th {
	background: #eee;
}


.youbi_0 {
	background: mistyrose;
}
.youbi_6 {
	background: aqua;
}

.today_color {
	background:aquamarine;
}
.youbi_shukujitu {
	color: red
}